{
  "name": "freeipa-ldap",
  "providerId": "ldap",
  "providerType": "org.keycloak.storage.UserStorageProvider",
  "config": {
    "enabled": ["true"],
    "priority": ["0"],
    "fullSyncPeriod": ["{{ keycloak_ldap_sync_interval }}"],
    "changedSyncPeriod": ["{{ keycloak_ldap_changed_interval }}"],
    "cachePolicy": ["DEFAULT"],
    "evictionDay": [],
    "evictionHour": [],
    "evictionMinute": [],
    "maxLifespan": [],
    "batchSizeForSync": ["1000"],
    "editMode": ["READ_ONLY"],
    "importEnabled": ["true"],
    "syncRegistrations": ["false"],
    "vendor": ["rhds"],
    "usernameLDAPAttribute": ["uid"],
    "rdnLDAPAttribute": ["uid"],
    "uuidLDAPAttribute": ["uid"],
    "userObjectClasses": ["inetOrgPerson, organizationalPerson"],
    "connectionUrl": ["{{ keycloak_ldap_url }}"],
    "usersDn": ["{{ keycloak_ldap_users_dn }}"],
    "authType": ["simple"],
    "bindDn": ["{{ keycloak_ldap_bind_dn }}"],
    "bindCredential": ["{{ vault_keycloak_ldap_bind_pass }}"],
    "searchScope": ["1"],
    "validatePasswordPolicy": ["false"],
    "trustEmail": ["false"],
    "useTruststoreSpi": ["ldapsOnly"],
    "connectionPooling": ["true"],
    "connectionPoolingAuthentication": ["none simple"],
    "connectionPoolingDebug": [""],
    "connectionPoolingInitSize": ["1"],
    "connectionPoolingMaxSize": ["1000"],
    "connectionPoolingPrefSize": ["5"],
    "connectionPoolingProtocol": ["plain ssl"],
    "connectionPoolingTimeout": ["300000"],
    "connectionTimeout": ["5000"],
    "readTimeout": ["10000"],
    "pagination": ["true"],
    "startTls": ["false"],
    "useKerberosForPasswordAuthentication": ["false"]
  }
}
