# templates/postfix-main.cf.j2

smtpd_banner = \ ESMTP
biff = no
append_dot_mydomain = no
readme_directory = no

# TLS parameters
smtpd_use_tls = yes
smtpd_tls_cert_file = /etc/ssl/certs/it-stack.crt
smtpd_tls_key_file  = /etc/ssl/private/it-stack.key
smtpd_tls_security_level = may
smtp_tls_security_level = may
smtpd_tls_session_cache_database = btree:\/smtpd_scache
smtp_tls_session_cache_database  = btree:\/smtp_scache

myhostname       = {{ iredmail_hostname }}
mydomain         = {{ iredmail_domain }}
myorigin         = \
inet_interfaces  = all
inet_protocols   = ipv4

mydestination    = \, localhost
relay_domains    =
mynetworks       = 127.0.0.0/8 {{ it_stack_network }}

virtual_mailbox_domains = pgsql:/etc/postfix/pgsql-virtual-mailbox-domains.cf
virtual_mailbox_maps    = pgsql:/etc/postfix/pgsql-virtual-mailbox-users.cf
virtual_alias_maps      = pgsql:/etc/postfix/pgsql-virtual-alias-maps.cf

virtual_transport       = dovecot
dovecot_destination_recipient_limit = 1

smtpd_sasl_auth_enable = yes
smtpd_sasl_type        = dovecot
smtpd_sasl_path        = private/auth

message_size_limit = {{ iredmail_max_message_size }}
mailbox_size_limit = 0